<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Factura de Pago - RIMAC Seguros</title>
</head>
<body> <p><strong>Fecha de Siniestro:</strong></p>
  <p><strong>Tipo de Siniestro:</strong> </p>
  <p><strong>Descripción:</strong> </p>
  <p><strong>Taller Asignado:</strong> </p>
  <p><strong>Monto Total:</strong> </p>
  <p><strong>Estado:</strong> </p>
</body>
</html>
